.bg {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;

  &--1 {
    background-image: url('../img/bgs/1.png');
  }
  &--2 {
    background-image: url('../img/bgs/2.png');
  }
  &--3 {
    background-image: url('../img/bgs/3.png');
    background-size: cover;
  }
}

@media (min-width: 1920px) {
  .bg {
    background-size: cover;
  }
}

@media (max-width: 768px) {
  .bg {
    &--1,
    &--2,
    &--3 {
      background-image: none;
    }
  }
}
