:root {
  //fonts
  --font-1: 'Noto Sans', sans-serif;
  --font-2: 'CopperPlate', sans-serif;

  //color
  --color-dark: 51, 51, 51;
  --color-select: 190, 141, 52;

  //gradient

  --gradient: linear-gradient(-34.67deg, rgb(190, 141, 52) -13.979%, rgb(254, 227, 178) 211.053%);
}
